@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    text-decoration: none;
    font-family: "poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #ebeaea;
    align-items: center;
    padding: 16px 32px;
    box-shadow: 0 0 15px grey;
}
.nav-left, .nav-right {
    display: flex;
    gap: 16px;
    flex: 50%;
}

.nav-left a {
    color: black;
    font-weight: 600;
    font-size: 14px;   
}

.nav-left img {
    height: 20;
}

.nav-right {
    justify-content: end;
}

.nav-right .button {
    background-color: #333333;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
}

/* nav ul li {
    list-style-type: none;
    align-items: center;
}

nav ul li .active {
    margin-right: 25px;
    font-size: 20px;
}

.nav-left {
    flex: 50%;
    gap: 16px;
}

.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
}

.nav-right a {
    background-color: orangered;
    padding: 8px;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    height: 90vh;

}

.section {
    display: flex;
    width: 60%;
}

.left {
    flex: 30%;
}

.right {
    flex: 70%;
    margin-top: 30px;
}
 */
